<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-32">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital@0;1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <title>V3-Compiler</title>
</head>
<body>
    <!-- <div id="heading" contenteditable="true"></div> -->
    <div>
        <nav class="navbar sticky-top bg-dark navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="/">V3 Compiler</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/help">Help</a>
                </li>
                <li class="nav-item dropdown">
                    <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      SignUp
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="/signupAttendee">C</a>
                      <a class="dropdown-item" href="/signupReviewer">C++</a>
                       <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="/signupReviewee">Java</a>
                    </div> -->
                        <div class="form-row">
                          <div class="col-auto my-1">
                            <select style="color: white ;background-color: #1e1e1e; border-color: #1e1e1e;" class="custom-select mr-sm-2" id="language">
                              <option selected value="C">C</option>
                              <option value="C++">C++</option>
                              <option value="Java">Java</option>
                              <option value="Python">Python</option>
                            </select>
                          </div>
                          <!-- <div class="col-auto my-1">
                            <div class="custom-control custom-checkbox mr-sm-2">
                              <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                              <label class="custom-control-label" for="customControlAutosizing">Remember my preference</label>
                            </div>
                          </div>
                          <div class="col-auto my-1">
                            <button type="submit" class="btn btn-primary">Submit</button>
                          </div>
                        </div> -->
                        <div class="col-auto my-1">
                            <button id = "button" style="background-color: #dc3545;" class="btn btn-dark">Run</button>
                        </div>
                        
                  </li>
            </ul>

            <span style="padding-left: 8px;" class="navbar-text">
                Made with 💖 by V3
            </span>
        </div>
        </nav>
    </div>
    <div id="content" contenteditable="true"></div>
    
    <nav class="navbar sticky-top bg-dark navbar-expand-lg navbar-dark">
    <div style="color: white;">
        RESULT:
      <%=output%>
    </div>
    </nav>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="/js/code.js"></script>
</body>
</html>