#left {
    width: 35%;
    display: inline-block;
    height: 100%;
    position: fixed;
    top: 9.2%;
}


#right {
    width: 60%;
    float: right;
    overflow-y: auto;
    display: inline;
    max-height: 80%;
    padding-top: 12%;
}

h1{
    color: white;
}

#right{
    padding-right: 0%;
}
.pic{
    padding-top: 5%;
    padding-bottom: 5%;
    /* border-bottom: 1px solid gray; */
}
