@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:400');
*{
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 400;
  }
  
  body {
    background-color: #1e1e1e;
    margin: 0 auto;
    height: 80%;
  }
  
  div:focus {
    outline: none;
  }
  
  #heading {
    font-size: 48px;
    padding-top: 30px;
  }
  
  #content {
    white-space: pre;
    min-height: 60%;
    height: max-content;
    width: 100%;
    background-color: #1e1e1e;
    color: #d4d4d4;
    padding-top: 10px;
    padding-left: 10px;;
    font-size: 16px;
    overflow-y: scroll;
    height: 100%;
  }

  #output{
   
    display: none;
    width: 100%;
    padding: 5px 7px;
    padding-right: 100px;
    align-self: center;
    font-weight: 500;
    color: #d4d4d4;
    text-align: center;
    /* min-width: 300px; */
    position: absolute;
    right: 0;
  
  }
  #output_nav{
    display: none;
  }

  #compiled_output{
    display: hidden;
    white-space: pre-wrap;
    width: 100%;
    background-color: #1e1e1e;
    color: #d4d4d4;
    padding-top: 10px;
    padding-left: 10px;;
    font-size: 16px;
  }

  #INPUT{
    height: 89.5%;
    width: 100%;
    position: absolute;
  }

  #input_nav{
    display: none;
  }

  #OUTPUT{
    height: 79%;
    width: 100%;
    position: absolute;
    top: 95px;
    right: 0;
    display: none;
  }

  .bd-clipboard{
    
    display: inline;
    position: absolute;
    right: 8%;
  }

  #bd-clipboard{
    color: gray;
    background-color: transparent;
    border: 1px solid gray;
  }


  #about{
    padding-top: 7%;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 7%;
  }

  /* #slides{
    height: 50vh;
  } */

  #slides{
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 20px;
  }
  .carousel .carousel-item {
    height: 80vh;
  }
  
  .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      height: 80vh;
      width: 100%;
  }

  #team{
    padding-top: 5%;
  }

  #help{
    padding-top: 7%;
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 7%;
  }

  .highlight{
    background-color: #f7f7f9;
  }
  